
body { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color: #979DAC;
}

.mainContainer{ 
    border: solid black 2px;
    background-color: #002855;
height: 300px;
width: 600px;
display: flex;
flex-direction: column;
justify-content: center;

align-items: center;
}

.username {
    width: 200px;
margin: 10px;}

.email{
    width: 200px;
    margin: 10px;
}

.password{
    width: 200px;
    margin: 10px;
}

.logInButton{
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

h1{
    color: white;
}