body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #979DAC;
    flex-direction: column;
    margin-top:0px;
}

.header {
    background-color: #002855;
    
    height: 5vw;
    width: 100vw;
    margin: 3px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #f5f0e2;
}

input {
    text-align: center;
    width: 225px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.regButton {
    width: 158px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1px;
    transition-duration: 0.2s;
}

.regButton:hover {
    transform: scale(1.05);
}

h3 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #f5f0e2;
}

.inputgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vw;
    height: 375px;
    width: 450px;
    text-align: center;
    background-color: #002855;
    border-radius: 4px;
}