body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputgroup {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 25vw;
    width: 300px;
    text-align: center;
}