body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #979DAC;
    color:#000000
}

p {
    color: #FFFFFF;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.header {
    background-color: #002855;
    height: 5vw;
    width: 99%;
    margin: 3px;
}

.jobs {
    width: 78%;
    max-height: 40vw;
    margin: 3px;
    font-size: 16px;
    border: 1px solid black;
    overflow: auto;
}

.sidebar {
    border: 1px solid black;
    width: 20%;
    margin: 3px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible::after {
    content: '\25be';
    float: right;
    transform: scale(1.5)
}