<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/register.css">
</head>
<body>
    <div class = "inputgroup">
    <input class = "email" type="text" onfocus = "" placeholder="email"></input>
    <input class = "username" type="text" onfocus = "" placeholder="username"></input>
    <input class = "password" type="text" onfocus = "" placeholder="password"></input>
    <input type="text" onfocus = "" placeholder="Repeat password"></input>
    <button class = "regButton">Register</button>
    </div>
</body>
<script src = "/public/register.js"></script>
</html>